/* a .setting {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #208b3a;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #208b3a;
} */


.left { text-align: left;}
.right { text-align: right;}
.center { text-align: center;}
.justify { text-align: justify;}
.sizefont { font-size: 30px;}
.sizefont2 { font-size: 20px;}
.bold {font-weight:bold;}
.color {color: #208b3a}
.background {background-color: #f3f5fa}
.container-ul { position: absolute; left: 60%; transform: translatex(-50%);}

.border-news {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #208b3a !important;
}

.example { background-color: rgb(255, 122, 89); } 



section .content{
    padding: 0 100px !important;
}

@media screen {
    
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    section .content{
        padding: 0 !important;
    }
  }

.carousel-caption p {
    background-color: #208b3b3b;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .carousel-caption {
        display: inline !important;
    }
  }

/* .bg-cap {
    position: absolute;
right: 15%;
bottom: 1.25rem;
left: 15%;
padding-top: 1.25rem;
padding-bottom: 1.25rem;
color: #fff;
text-align: center;
border : 1px solid red;
} */

.capother {
    font-size: 10px;
}

.capcatdate {
    font-size: 8px;
}

.volunteer {
    background-color: #208b3b21;
    padding-top: 2px;
    padding-bottom: 1,5px;
}

.donatebg {
    width: 1400px;
    background-color: rgba(182, 182, 182, 0.253);
    border: 15px solid rgba(255, 255, 255, 0);
    padding-top: 4;
    padding: 2px;
    margin: 4px;
}

.donatebg2 {
    width: 1400px;
    background-color: rgba(255, 255, 255, 0);
    border: 15px solid rgba(255, 255, 255, 0);
    padding-top: 4;
    padding: 2px;
    margin: 4px;
}

.newslastpost {
    background-color: #f8f9fa;
    border: 10px solid #f8f9fa;
    padding-top: 4px;
    padding: 2px;
    margin: 4px;
}

.postnewsconten {
    background-color: #f8f9fa;
    border: 4px solid #f8f9fa;
    height: 420px;
    width: 350px;
}

.titlelaspost {
    font-size: 23px;
    margin: 5px;
    margin-left: 0px;
    font-weight: bold;
}

.newspost {
    background-color: #f8f9fa;
    border: 5px solid #f8f9fa;
    padding-top: 4;
    padding: 2px;
    margin: 4px;
}

.titlenewspost {
    font-size: 20px;
    margin: 5px;
    margin-left: 0px;
    font-weight: bold;
}

.pnewspost {
    font-size: 14px;
    margin-left: 0px;
}

.rewin-caption p {
    background-color: #208b3b3b;
    width: 300px;
}

.tagline {
position: absolute; /* Position the background text */
bottom: 3%; /* At the bottom. Use top:0 to append it to the top */
background: rgb(0, 0, 0); /* Fallback color */
background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
color: #f1f1f1; /* Grey text */
width: 100%; /* Full width */
padding: 20px; /* Some padding */
}