/* a .setting {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #208b3a;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #208b3a;
} */


.left { text-align: left;}
.right { text-align: right;}
.center { text-align: center;}
.justify { text-align: justify;}
.sizefont { font-size: 30px;}
.sizefont2 { font-size: 20px;}
.bold {font-weight:bold;}
.color {color: #208b3a}
.background {background-color: #f3f5fa}
.container-ul { position: absolute; left: 60%; transform: translatex(-50%);}

.border-news {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #208b3a !important;
}

.example { background-color: rgb(255, 122, 89); } 



section .content{
    padding: 0 100px !important;
}

@media screen {
    
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    section .content{
        padding: 0 !important;
    }
  }

.carousel-caption p {
    background-color: rgba(61, 61, 61, 0.582);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .carousel-caption {
        display: inline !important;
    }
  }

/* .bg-cap {
    position: absolute;
right: 15%;
bottom: 1.25rem;
left: 15%;
padding-top: 1.25rem;
padding-bottom: 1.25rem;
color: #fff;
text-align: center;
border : 1px solid red;
} */